body {
  width: 100%;
  height: 100%;
  font-family: "Lato", "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
}

html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}

a {
  color: white;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
  color: #42DCA3;
}

.light {
  font-weight: 400;
}

#project1:before, #project2:before, #project3:before, #project4:before, #project5:before, #project6:before {
  content: "";
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  transition: transform .8s ease-in-out;
}

/*GIF BOX*/
#project1:before {
  background: url("http://i.imgur.com/d4g1SSl.jpg");
  background-position: center;
  background-size: cover;
}

/*HEALTH CONNECT*/
#project2:before {
  background: url("http://i.imgur.com/BYzJ4nQ.png");
  background-position: center;
  background-size: cover;
}

/*HOOP IT UP*/
#project3:before {
  background: url("http://i.imgur.com/FtqsqkO.png");
  background-position: center;
  background-size: cover;
}

/*SANIC LAND*/
#project4:before {
  background: url("http://i.imgur.com/CogBxxC.jpg");
  background-position: center;
  background-size: cover;
}

/*WEATHER APP*/
#project5:before {
  background: url("http://i.imgur.com/7BVc4ua.png");
  background-position: center;
  background-size: cover;
}

/*PORTFOLIO SITE*/
#project6:before {
  background: url("http://i.imgur.com/kwz9Y3i.jpg");
  background-position: center;
  background-size: cover;
}

#project1:hover .project-title, #project2:hover .project-title, #project3:hover .project-title, #project4:hover .project-title, #project5:hover .project-title, #project6:hover .project-title {
  color: black;
  background-color: white;
  opacity: 1;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.project {
  border: 3px solid rgba(255, 255, 255, 1);
  height: 325px;
  width: 325px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 0px 20px;
}

.profile-img {
  height: 300px;
  width: 300px;
  border: 2px solid rgba(255, 255, 255, 1)
}

.project-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.project-title {
  border: 2px solid rgba(255, 255, 255, 1);
  width: 200px;
  padding: 20px 0;
  color: white;
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: black;
}

.section-title {
  border: 2px solid rgba(255, 255, 255, 1);
  width: 200px;
  padding: 20px 0;
  text-align: center;
}

.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  font-size: 12px;
}

.navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:active {
  outline: none;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
  outline: none;
}

.navbar-custom a {
  color: white;
}

.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.navbar-custom .nav li a:hover {
  /*color: rgba(255, 255, 255, 1);*/
  outline: none;
  color: #42DCA3;
  background-color: transparent;
}

.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}

.navbar-custom .nav li.active {
  outline: none;
}

.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 1);
  color: black;
}

.navbar-custom .nav li.active a:hover {
  color: black;
}

.navname {
  visibility: hidden;
}

.top-nav-name-collapse {
  visibility: visible;
  transition: visibility 0s, opacity 5s linear;
}

/*Modal CSS*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*overflow: auto;*/
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
  text-align: center;
  margin: 5% auto;
  padding: 20px;
  width: 80%;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 0px;
  color: white;
  font-size: 3em;
  font-weight: bold;
  -moz-transition: -moz-transform ease 0.5s;
  -webkit-transition: -webkit-transform ease 0.5s;
  -o-transition: -o-transform ease 0.5s;
  -ms-transition: -ms-transform ease 0.5s;
  transition: transform ease 0.5s;
  height: 75px;
  width: 75px;
}

.closeBtn:hover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.projectPic {
  width: 600px;
}

.proj-link {
  font-size: 2em;
  text-transform: uppercase;
  border: 2px solid white;
  padding: 10px 30px;
}

.proj-link:hover {
  background-color: rgba(66,220,163,.8);
  color: white;
}

.project-text {
  padding: 30px 0;
  text-align: left;
  width: 80%;
  margin: auto;
}

@media (max-width: 800px) {
  .navbar {
    width: 100vw;
  }
  .about-blurb {
    margin: 20px 10px 10px 10px;
    padding: 50px 50px;
  }
  .project {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
  }
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(../imgs/bg2.jpg) no-repeat bottom center scroll;
  background-color: black;
  background-attachment: fixed;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-blurb {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: rgba(255, 255, 255, 1);
  padding: 70px 40px;
  border: 2px solid white;
  /*margin-top: 100px;*/
}

.about-blurb:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid white;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.intro-body {
  margin-top: 150px;
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.intro .intro-body .brand-heading {
  font-size: 20px;
  font-family: "Permanent Marker", sans-serif;
}

.intro .intro-body .intro-text {
  font-family: "roboto";
}

.profile-container {
  text-align: center;
  /*padding-top: 120px;*/
}

.contact-icons {
  margin-top: 200px;
  padding: 0 20px;
  display: inline-block;
  color: white;
  font-size: 4em;
}

a:hover a:focus {
  color: white;
}

.home-content {
  background-color: none;
  color: white;
  width: 400px;
  margin-left: 50px;
  border: 2px solid white;
}

.home-content:hover {
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid white;
  color: black;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 30px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
    font-family: "roboto";
  }
}

.btn-rect {
  width: 150px;
  height: 70px;
  margin-top: 235px;
  padding: 5px 16px;
  border: 2px solid white;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.btn-rect:hover, .btn-rect:focus {
  outline: none;
  color: black;
  background: rgba(255, 255, 255, 1);
}

.btn-rect i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}

.btn-rect i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(.8);
    transform: scale(.8);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(.8);
    transform: scale(.8);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(.8);
    transform: scale(.8);
  }
  50% {
    -moz-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -moz-transform: scale(.8);
    transform: scale(.8);
  }
}

.content-section {
  padding-top: 100px;
  /*test section */
  /*border: 3px solid white;*/
}

@media (min-width: 767px) {
  .content-section {
    padding: 250px 0;
  }
  . {
    padding: 100px 0;
  }
}

.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}

.btn-default {
  border: 1px solid #42DCA3;
  color: #42DCA3;
  background-color: transparent;
}

.btn-default:hover, .btn-default:focus {
  border: 1px solid #42DCA3;
  outline: none;
  color: black;
  background-color: #42DCA3;
}
